<link rel="stylesheet" type="text/css" href="css/styles1.css">
<link rel="stylesheet" type="text/css" href="css/styles3.css">


<div class="t1">
	<fieldset>
		<legend>nous contacter</legend>
		<a class="cont" href="mailto:fenos.rasolondraibe@gmail.com">Fenos</a>
		<a class="cont" href="mailto:yvesenergy@gmail.com">John</a>
	</fieldset>
</div>

<button onclick='document.querySelector(".t1").style.display = "block"'>nous contacter</button>